<form action="<%= postpath %>" method="POST">
    <% if(note) { %>
    <input type="hidden" value="<%= note.ts %>" name="id"/>
    <% } %>
    <input type="text" name="author" value="<%= note.author %>"/>
    <br/>
    <textarea name="note" id="note" cols="30" rows="10"><%= note.note %></textarea>
    <br/>
    <input type="submit" value="Сохранить"/>
</form>